In [18]:
# Dependencies
import requests
import pandas as pd
import pathlib

In [19]:
#Set file path

filepath=pathlib.Path("players.csv")

#Read csv file
player_data_df=pd.read_csv(filepath)

In [20]:
player_data_df.head(5)

,Player ID,First Name,Last Name,Team,Jersey,Position Category,Position,Height,Weight,Birth Date,Birth City,Birth State,Birth Country,College,Salary,Photo Url,Experience
0,20000441,Bradley,Beal,WAS,3.0,G,SG,75,207,1993-06-28T00:00:00,St. Louis,Missouri,NaN,Florida,27093019.0,https://s3-us-west-2.amazonaws.com/static.fant...,6
1,20000442,John,Wall,WAS,2.0,G,PG,76,210,1990-09-06T00:00:00,Raleigh,North Carolina,NaN,Kentucky,38199000.0,https://s3-us-west-2.amazonaws.com/static.fant...,8
2,20000443,Otto,Porter,CHI,22.0,F,SF,80,198,1993-06-03T00:00:00,St. Louis,Missouri,NaN,Georgetown,27250575.0,https://s3-us-west-2.amazonaws.com/static.fant...,5
3,20000452,Garrett,Temple,BKN,17.0,G,SG,77,195,1986-05-08T00:00:00,Baton Rouge,Louisiana,NaN,LSU,4767000.0,https://s3-us-west-2.amazonaws.com/static.fant...,8
4,20000453,Terrence,Ross,ORL,31.0,G,SG,78,206,1991-02-05T00:00:00,Portland,Oregon,Oregon,Washington,12500000.0,https://s3-us-west-2.amazonaws.com/static.fant...,6

In [21]:
player_data_df["Name"]=player_data_df["First Name"] + " " + player_data_df["Last Name"]

In [22]:
player_data_df

,Player ID,First Name,Last Name,Team,Jersey,Position Category,Position,Height,Weight,Birth Date,Birth City,Birth State,Birth Country,College,Salary,Photo Url,Experience,Name
0,20000441,Bradley,Beal,WAS,3.0,G,SG,75,207,1993-06-28T00:00:00,St. Louis,Missouri,NaN,Florida,27093019.0,https://s3-us-west-2.amazonaws.com/static.fant...,6,Bradley Beal
1,20000442,John,Wall,WAS,2.0,G,PG,76,210,1990-09-06T00:00:00,Raleigh,North Carolina,NaN,Kentucky,38199000.0,https://s3-us-west-2.amazonaws.com/static.fant...,8,John Wall
2,20000443,Otto,Porter,CHI,22.0,F,SF,80,198,1993-06-03T00:00:00,St. Louis,Missouri,NaN,Georgetown,27250575.0,https://s3-us-west-2.amazonaws.com/static.fant...,5,Otto Porter
3,20000452,Garrett,Temple,BKN,17.0,G,SG,77,195,1986-05-08T00:00:00,Baton Rouge,Louisiana,NaN,LSU,4767000.0,https://s3-us-west-2.amazonaws.com/static.fant...,8,Garrett Temple
4,20000453,Terrence,Ross,ORL,31.0,G,SG,78,206,1991-02-05T00:00:00,Portland,Oregon,Oregon,Washington,12500000.0,https://s3-us-west-2.amazonaws.com/static.fant...,6,Terrence Ross
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,20002491,Caleb,Martin,CHA,10.0,G,PG,77,205,NaN,NaN,NaN,NaN,Nevada,898310.0,https://s3-us-west-2.amazonaws.com/static.fant...,0,Caleb Martin
506,20002493,Terence,Davis,TOR,0.0,F,PF,76,201,NaN,NaN,NaN,NaN,Ole Miss,898310.0,https://s3-us-west-2.amazonaws.com/static.fant...,0,Terence Davis
507,20002494,Mychal,Mulder,GS,12.0,G,PG,76,184,NaN,NaN,NaN,NaN,Kentucky,NaN,https://s3-us-west-2.amazonaws.com/static.fant...,0,Mychal Mulder
508,20002495,Marko,Guduric,MEM,23.0,G,PG,78,201,NaN,NaN,NaN,NaN,NaN,2625000.0,https://s3-us-west-2.amazonaws.com/static.fant...,0,Marko Guduric
509,20002497,Matt,Mooney,CLE,31.0,G,PG,75,200,NaN,NaN,NaN,NaN,Texas Tech,NaN,https://s3-us-west-2.amazonaws.com/static.fant...,0,Matt Mooney

In [23]:
#Set file path

filepath=pathlib.Path("injuries_2010_2020.csv")

#Read csv file
injuries_df=pd.read_csv(filepath)

In [24]:
injuries_df

,Date,Team,Acquired,Relinquished,Notes
0,10/3/2010,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,10/6/2010,Pistons,NaN,Jonas Jerebko,torn right Achilles tendon (out indefinitely)
2,10/6/2010,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...
3,10/8/2010,Blazers,NaN,Jeff Ayres,torn ACL in right knee (out indefinitely)
4,10/8/2010,Nets,NaN,Troy Murphy,strained lower back (out indefinitely)
...,...,...,...,...,...
11245,3/6/2020,Pacers,NaN,Malcolm Brogdon,torn left quadriceps (out indefinitely)
11246,3/6/2020,Pelicans,NaN,Nickeil Alexander-Walker,fractured right wrist (out indefinitely)
11247,3/6/2020,Rockets,NaN,Eric Gordon,sore right knee (DTD)
11248,3/6/2020,Suns,NaN,Deandre Ayton,sprained left ankle (DTD)
11249,3/7/2020,Cavaliers,NaN,Dean Wade,sprained right ankle (DTD)

In [25]:
injuries_df["Name"]=injuries_df["Relinquished"]

In [26]:
injuries_df

,Date,Team,Acquired,Relinquished,Notes,Name
0,10/3/2010,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...,Carlos Boozer
1,10/6/2010,Pistons,NaN,Jonas Jerebko,torn right Achilles tendon (out indefinitely),Jonas Jerebko
2,10/6/2010,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...,Terrico White
3,10/8/2010,Blazers,NaN,Jeff Ayres,torn ACL in right knee (out indefinitely),Jeff Ayres
4,10/8/2010,Nets,NaN,Troy Murphy,strained lower back (out indefinitely),Troy Murphy
...,...,...,...,...,...,...
11245,3/6/2020,Pacers,NaN,Malcolm Brogdon,torn left quadriceps (out indefinitely),Malcolm Brogdon
11246,3/6/2020,Pelicans,NaN,Nickeil Alexander-Walker,fractured right wrist (out indefinitely),Nickeil Alexander-Walker
11247,3/6/2020,Rockets,NaN,Eric Gordon,sore right knee (DTD),Eric Gordon
11248,3/6/2020,Suns,NaN,Deandre Ayton,sprained left ankle (DTD),Deandre Ayton
11249,3/7/2020,Cavaliers,NaN,Dean Wade,sprained right ankle (DTD),Dean Wade

In [27]:
join_data=injuries_df.merge(player_data_df, on='Name', how='inner')

join_data

,Date,Team_x,Acquired,Relinquished,Notes,Name,Player ID,First Name,Last Name,Team_y,...,Height,Weight,Birth Date,Birth City,Birth State,Birth Country,College,Salary,Photo Url,Experience
0,11/3/2010,Hawks,NaN,Jamal Crawford,turf toe (DNP),Jamal Crawford,20000666,Jamal,Crawford,BKN,...,77,185,1980-03-20T00:00:00,Seattle,Washington,NaN,Michigan,NaN,https://s3-us-west-2.amazonaws.com/static.fant...,18
1,4/2/2012,Blazers,NaN,Jamal Crawford,right knee injury (DNP),Jamal Crawford,20000666,Jamal,Crawford,BKN,...,77,185,1980-03-20T00:00:00,Seattle,Washington,NaN,Michigan,NaN,https://s3-us-west-2.amazonaws.com/static.fant...,18
2,4/23/2012,Blazers,NaN,Jamal Crawford,right knee tendinitis (DNP),Jamal Crawford,20000666,Jamal,Crawford,BKN,...,77,185,1980-03-20T00:00:00,Seattle,Washington,NaN,Michigan,NaN,https://s3-us-west-2.amazonaws.com/static.fant...,18
3,4/26/2012,Blazers,NaN,Jamal Crawford,right knee tendinitis (DNP),Jamal Crawford,20000666,Jamal,Crawford,BKN,...,77,185,1980-03-20T00:00:00,Seattle,Washington,NaN,Michigan,NaN,https://s3-us-west-2.amazonaws.com/static.fant...,18
4,1/4/2013,Clippers,NaN,Jamal Crawford,sore left foot (DNP),Jamal Crawford,20000666,Jamal,Crawford,BKN,...,77,185,1980-03-20T00:00:00,Seattle,Washington,NaN,Michigan,NaN,https://s3-us-west-2.amazonaws.com/static.fant...,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3540,2/29/2020,Warriors,NaN,Jordan Poole,sprained right ankle (DTD),Jordan Poole,20002300,Jordan,Poole,GS,...,76,194,NaN,NaN,NaN,NaN,Michigan,1964760.0,https://s3-us-west-2.amazonaws.com/static.fant...,0
3541,2/29/2020,Warriors,NaN,Ky Bowman,sprained right ankle (DTD),Ky Bowman,20002415,Ky,Bowman,GS,...,73,187,NaN,NaN,NaN,NaN,Boston College,350189.0,https://s3-us-west-2.amazonaws.com/static.fant...,0
3542,3/1/2020,Cavaliers,NaN,Darius Garland,strained left groin (DTD),Darius Garland,20002270,Darius,Garland,CLE,...,73,192,NaN,NaN,NaN,NaN,Vanderbilt,6400920.0,https://s3-us-west-2.amazonaws.com/static.fant...,0
3543,3/1/2020,Pistons,NaN,Thon Maker,sprained right ankle (DTD),Thon Maker,20001667,Thon,Maker,DET,...,84,221,1997-02-25T00:00:00,Sydney,Australia,NaN,NaN,3569643.0,https://s3-us-west-2.amazonaws.com/static.fant...,2
3544,3/6/2020,Bulls,NaN,Ryan Arcidiacono,sore right Achilles (DTD),Ryan Arcidiacono,20001746,Ryan,Arcidiacono,CHI,...,75,195,1994-03-26T00:00:00,Philadelphia,Pennsylvania,NaN,Villanova,3000000.0,https://s3-us-west-2.amazonaws.com/static.fant...,1

In [28]:
join_data.to_csv("player_injury.csv",index=False)